<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (roleUser()) {
      <div>
        <h2 data-cy="roleUserDetailsHeading"><span jhiTranslate="photoStoreApp.roleUser.detail.title">Role User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="photoStoreApp.roleUser.id">Id</span></dt>
          <dd>
            <span>{{ roleUser()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="photoStoreApp.roleUser.userId">User Id</span></dt>
          <dd>
            <span>{{ roleUser()!.userId?.id }}</span>
          </dd>
          <dt><span jhiTranslate="photoStoreApp.roleUser.roleId">Role Id</span></dt>
          <dd>
            @if (roleUser()!.roleId) {
              <div>
                <a [routerLink]="['/role-my-suffix', roleUser()!.roleId?.id, 'view']">{{ roleUser()!.roleId?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/role-user-my-suffix', roleUser()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
