<div>
  <h2 id="page-heading" data-cy="CartHeading">
    <span jhiTranslate="photoStoreApp.cart.home.title">Carts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="photoStoreApp.cart.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart-my-suffix"
        [routerLink]="['/cart-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="photoStoreApp.cart.home.createLabel">Create a new Cart</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (carts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="photoStoreApp.cart.home.notFound">No Carts found</span>
    </div>
  }

  @if (carts && carts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="photoStoreApp.cart.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total">
              <div class="d-flex">
                <span jhiTranslate="photoStoreApp.cart.total">Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="payment.id">
              <div class="d-flex">
                <span jhiTranslate="photoStoreApp.cart.payment">Payment</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cart of carts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cart-my-suffix', cart.id, 'view']">{{ cart.id }}</a>
              </td>
              <td>{{ cart.total }}</td>
              <td>
                @if (cart.payment) {
                  <div>
                    <a [routerLink]="['/payment-my-suffix', cart.payment.id, 'view']">{{ cart.payment.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cart-my-suffix', cart.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cart-my-suffix', cart.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
