<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-role-user-my-suffix-heading"
        data-cy="RoleUserCreateUpdateHeading"
        jhiTranslate="photoStoreApp.roleUser.home.createOrEditLabel"
      >
        Create or edit a Role User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="photoStoreApp.roleUser.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="photoStoreApp.roleUser.userId">User Id</label>
          <select
            class="form-control"
            id="field_userId"
            data-cy="userId"
            name="userId"
            formControlName="userId"
            [compareWith]="compareUserMySuffix"
          >
            <option [ngValue]="null"></option>
            @for (userOption of userIdsCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_roleId" jhiTranslate="photoStoreApp.roleUser.roleId">Role Id</label>
          <select
            class="form-control"
            id="field_roleId"
            data-cy="roleId"
            name="roleId"
            formControlName="roleId"
            [compareWith]="compareRoleMySuffix"
          >
            <option [ngValue]="null"></option>
            @for (roleOption of roleIdsCollection; track $index) {
              <option [ngValue]="roleOption">{{ roleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
